@import url("https://fonts.googleapis.com/css?family=Prompt:400|Inter:400,500");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    scroll-behavior: smooth;
    
} 

body{
    background-color: #060E21;
    color: #fff;
}

main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

p{
    font-size: 125%;
}

h1{
    font-size: 180%;
}

h2{
    font-size: 170%;
}

h3{
    font-size: 160%;
}

h4{
    font-size: 150%;
}

h5{
    font-size: 140%;
}

h6{
    font-size: 130%;
}

b{
    color: #FF003D;
}
/* =================================================================== */
header{
    width: 100%;
    height: 90px;
    overflow: hidden;
}

.header-container{
    width: 100%;
    height: 75px;
    background-color: #060E21;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 4, 255, 0.651);
    position: fixed;
    top: 0;
    z-index: 999;
}

.img-astronaut{
    position: absolute;
    width: 123px;
    height: 123px;
    left: 1590px;
    top: 4px;
    filter: drop-shadow(0px 4px 4px rgba(3, 3, 3, 0.6));
}

.text-group{
    display: flex;
    flex-direction: column;
}

#btn-hamburger{
    width: 45px;
    height: 45px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: #0038bb;
    padding: 10px;
    border-radius: 100%;
}

#btn-hamburger:hover{
    width: 50px;
    height: 50px;
    background-color: #1144bb;
    transition: 1s ease;
    animation:spin 1s alternate;
}

.nav-area{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: 1000;
    background-color: #ffffff48;
    display: none;
    flex-direction: row-reverse;
}

nav{
    width: 20em;
    background-color: #18006d;
    padding: 10px;
}

.img-nav{
    width: 45px;
    border-radius: 100%;
    padding: 5px;
}

ul{
    height: 40em;
    background-color: #fff;
    padding: 15px;
    
}

.list-nav h5{
    margin-left: 5px;
}

.list-nav{
    list-style: none;
    color: #18006d;
    display: flex;
    align-items: center;
    margin: 10px;
}

#btn-close-nav{
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    cursor: pointer;

}

.img-btn-close-nav{
    height: 100%; 
    width: 100%; 
    padding: 10px;
    
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.social a{
    margin: 5px;
}

.social-icon{
    height: 25px; 
    width: 25px;
    transition: .2s ease;
}

.social-icon:hover{
    height: 60px; 
    width: 60px;
    transition: .2s ease;
    background-color: #a78e00;
    padding: 6px;
}

.openNav-active{
    display: flex;
}

/* ========================================= */
.topic-text-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 210%;
    text-transform: uppercase;
}

#curor{
    animation: blink 0.5s  infinite;
}

.container-intro{
    width: 1580px;
    min-height: 450px;
    border: 5px solid #0094FF;
    box-shadow: 0px 0px 10px 5px rgba(0, 148, 255, 0.85);
    border-radius: 10px;
    padding: 10px;
    animation:intro 3s 0.5s alternate infinite;
}

.content-intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content-intro p{
    text-align: justify;
}
.intro{
    width: 100%;
    height: 100%;
    position:sticky;
    top: 1;
}

.img-intro{
    position: absolute;
    width: 95px;
    height: 95px;
    
}

.asteroid{
    left: 1660px;
    top: 170px;
}

.orbit{
    left: 65px;
    top: 830px;
}
/* ========================================= */

#secProfile,#secwork,#secAct{
    margin-top: 10px;
    max-height: 1000%;
    padding: 20px;
    padding-top:5em ;
}

#menu-profile,#menu-work,#menu-Activities{
    cursor: pointer;
}


/* ========================================= */

.head-sec{
    display: flex;
    align-items: center;
    padding: 10px;
}

.mainPro{
    width: 100%;
    height: 100%;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.rowPo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;
}

.container{
    width: 855px;
    height: 650px;
    background-color: #ffffff3b;
    padding: 5px;
    border: solid 5px #18db32;
    border-radius: 10px;
    overflow: hidden;
}

iframe{
    display: none;
}

.BasicInfo,.contact, .edu, .skill{
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
    width: 100%; 
    height: 100%;
}

.info-group{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 5px;
}

.icon-info{
    background-color: #db8d18;
    padding: 5px;
}

.info-group p{
    width: 100%;
    color: rgb(202, 30, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========================================= */
.main-contact{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-group{
    display: flex ; 
    align-items: center;
    margin: 10px;
    width: 120px; 
    height: 120px; 
    border-radius: 100%; 
    padding: 10px; 
    background-color: rgb(255, 255, 255); 
    z-index: 1;
    cursor: pointer;
}

.contact-group:hover{
    width: 130px;
    height: 130px;
    background-color: #e6e6e6;
    border-radius: 80%; 
    transition: .2s ease;
}

.contact-data{
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 100%; 
    max-height: 100px; 
    padding: 5px; 
    background-color: #db8d18;
    
}

.contact-data p{ 
    background-color: #fff;
    min-width: 100%; 
    color: #bb5e3a;
    padding: 5px;
    border-radius: 10px;
     
}

.contact-data-active{
    
    display: flex;
}
/* ========================================= */
.container-card-edu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-edu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    height: 160px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
}

.card-edu-head{
    display: flex;
}

.card-edu-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ========================================= */
.hard-Skill{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hard-Skill h1{
    background-color: #07070749; 
    width: 290px; 
    text-align: center; 
    padding: 10px; 
    border-radius: 10px; 
    border: solid 5px #3d1e01; 
    box-shadow: 0px 0px 8px 3px #e67307;
    margin-left: 5px;
}

.hard-group{
    width: 145px;
    height: 155px;
    background-color: #ffffff2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 8px;
    padding: 5px;
    border: solid 5px #3d1e01; box-shadow: 0px 0px 8px 1.5px #e67307;
    border-radius: 10px;
}

/* ========================================= */

#intro2{
    width: 100%; 
    height: 1000px;
    background-image: url('https://www.nstda.or.th/sci2pub/wp-content/uploads/2022/01/Life-Science1.jpg'); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}
/* ========================================= */

.main-work{
    display: flex;
}

.menu-work{
    width: 700px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 10px;

}

.menu-work button{
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: .2s ease;
}

.menu-work button:hover{
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    padding: 12px;
    transition: .2s ease;

}

.group-menu-work{
    height: 320px;
    background-color: #2193d4;
    box-shadow: 0px 0px 8px 3px #2600ff;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.group-menu-work h4{
    background-color: #ffffff; 
    color: #18006d; 
    padding: 10px; 
    border-radius: 10px;
}

.show-work{
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    display: none;
}

.container-show-work{
    width: 100%;
    height: 800px;
    background-color: #707070;
    border-radius: 20px;
    overflow: hidden;
}

.head-show-work{
    background-color: #18006d;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.main-show-work{
    color: #585858;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: justify;
}

.group-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-work{
    width: 450px;
    margin: 5px;
}

.link-work{
    background-color: #1b79bd;
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
}

.show-work-active{
    display: block;
}
/* ========================================= */

.Act-img-container {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: auto;
    border: solid 1px #41a;
    background-color: #e9e9e9;
}

.Act-img,.Act-img2 {
    display: none;
    align-items: center;
    justify-content: center;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /* user-select: none; */
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-name: fade 0s 2s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}
/* ========================================= */

.main-Act{
    margin-top: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crad-Act{
    width: 550px;
    height: 650px;
    background: linear-gradient(90.99deg, #E0A307 0.02%, #A9008E 95.99%);
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
}

.crad-Act-container{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    
}

.crad-Act-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.crad-Act-head,.crad-Act-main,.crad-Act-footer{
    color: #9D007B;
    padding: 10px;
}

.crad-Act-head{
    width: 100%;
    font-size: 90%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.crad-Act-footer{
    width: 100%;
}

/* ========================================= */
@keyframes intro {
    from {
        border: 5px solid #48ff00;
        box-shadow: 0px 0px 10px 5px rgba(0, 255, 85, 0.85);
    }
    to {
        border: 5px solid rgb(255, 34, 34);
        box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.85);
    }
    }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes spin360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes blink {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
}